<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="JPomodoro" src="{{ "https://raw.githubusercontent.com/JamersonWalderson/jpomodoro/master/gif-demo.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JPomodoro </h3>
    <ul>
      <li> Java, Netbeans ...</li>
    </ul>
    <p>Pomodoro em italiano significa tomate, e é uma técnica criada na década de 1980 pelo italiano Francesco Cirillo, que teve a ideia de usar cronômetros de cozinha para dividir o tempo em ciclos.

      Cada bloco de 30 minutos é composto por 25 minutos sem interrupções e com o maior foco possivel, com 5 minutos de descanço.</p>
    <a class="project-link" href="https://github.com/JamersonWalderson/jpomodoro">Saber mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Mail CSV" src="{{ "https://github.com/JamersonWalderson/mail-csv/blob/master/pic-demo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mail CSV </h3>
    <ul>
      <li> Python, Qt ...</li>
    </ul>
    <p> Quando estiver em sua versão 1.0.0 servirá para envio de e-mails em masssa. </p>
    <a class="project-link" href="https://github.com/JamersonWalderson/mail-csv">Saber mais</a>
  </div>
</div>
